<!DOCTYPE html>
<html>
<body>

<style>

body {
  background-color: #346094;
}

.logo{position: absolute; right: 25%; top: 5%;}


h1 {position: absolute; top: 7%;left:10%; font-size: 600%; color: white; font-family: helvetica;}


p{position: absolute; bottom: 50%; left: 10%; font-family: helvetica; font-size: 200%; color: white;}

</style>

<img src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1448128738/cl28wyysskerya6m752m.png" alt="Nationwide Logo" class="logo">


<h1>Service Side</h1>

<p>Here at Nationwide we value giving back to our local communities through the form of volunteer work. <br> Apply for your organization to obtain volunteers (Nationwiders) today!</p>

</body>
</html>